<header id="main-header">
    <div class="container nav-container">
        <div class="logo">
            <img src="assets/logo.svg" alt="Logo" width="38" height="38">
            Instituto Superior La Inmaculada
        </div>
        <nav id="navbar">
            <ul class="nav-links">
                <li><a href="#" id="inicio-link">Inicio</a></li>
                <li><a href="#nosotros">Nosotros</a></li>
                <li><a href="#programas">Oferta Académica</a></li>
                <li><a href="#" id="contact-link" class="btn-outline">Contacto</a></li>
                <li><a href="#redes" class="btn-outline">Nuestras Redes</a></li>
            </ul>
        </nav>
        <div class="menu-toggle" id="mobile-menu">
            <span class="bar"></span>
            <span class="bar"></span>
            <span class="bar"></span>
        </div>
    </div>
</header>